{% extends 'base.html' %}
{% block subtitle %}
    <center> Consultar Participante </center>
{% endblock subtitle %}
{% block conteudo %}
		<form id="form" action="/busca_voluntarios/" method="POST"> {% csrf_token %} 
        	
            Digite o Nome do Participante a ser pesquisado:<br>            
            <input type="text" id="nome" name="nome" >
		    <input id="botao" type="Submit" name="Submit" value="Consultar">	
        </form>
      
      {% for dados in part %}
            {% if dados.participacao == 'S' %}
                Certificado em PDF:   <a href="/emitir/{{dados.Codigo}}/">{{ dados.Nome }}   </a> <br><br>
            {% else %}
                {{dados.Nome}} não participou como aluno voluntário.  <br><br>
            {% endif %}                       
    {% endfor %}

    <p><a href="/principal_certificado"><input id="botao" type="button" name="Submit" value="Certificados"></a></p>
{% endblock %}
